/* @import "./base.css"; */

#app {
  width: 360px;
  height: 640px;
  min-height: 100vh;
  /* max-height: 100%; */
  margin: 0 auto;
  padding: 2px;
  font-weight: normal;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  background-color: black;
}
